<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<system.serviceModel>
		
		
		<services>
			<service name="Contract.IMessageService" behaviorConfiguration="IMessageServiceBehavior">
				<endpoint
				  address="net.tcp://localhost:8018/Contract/IMessageService"
				  binding="netTcpBinding"
				  bindingConfiguration="bindingMessageSecured"
				  contract ="Contract.IMessageService"/>
			</service>
		</services>
		
		<bindings>
			<netTcpBinding>
				<binding name="bindingMessageSecured" sendTimeout="06:30:00" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" >
					<security mode="Message"/>
				</binding>
			</netTcpBinding>
		</bindings>
		
		<behaviors>
			<serviceBehaviors>
				<behavior name="IMessageServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
