<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<services>
      <service name="Job.MessageService">
        <endpoint 
          address ="net.tcp://localhost:8018/Job/MessageService"
          binding ="NetTcpBinding"
          contract ="Job.IMessageService"/>
      </service>
    </services>-->
  </system.serviceModel>
</configuration>
